.button {
    width: 245px;
    height: 40px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: var(--green);
    box-shadow: 0px 3px 5px rgba(0, 204, 126, 0.25);
    border-radius: 3px;
    transition: all 0.2s;
    color: var(--dark-gray);
}

.button:hover {
    background: var(--dark-green);
    /* color: white; */
    cursor: pointer;
}