@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap');

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  font-family: 'Mulish', sans-serif;
}

:root {
  --background: #E5E5E5;
  --light-gray: #767D96;
  --gray: #3E4557;
  --dark-gray: #20232D;
  --green: #25EFA1;
  --dark-green: #259457;
}
